<a href="https://colab.research.google.com/github/abdulmohiz001/Programming-For-AI-Lab/blob/main/Abdul_Mohiz_Lab_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Integer variable
integer_var = 10
# Floating-point variable
float_var = 3.14
# String variable
string_var = "Hello, world!"
# Boolean variable
boolean_var = True

# Print variables
print("Integer variable:", integer_var)
print("Floating-point variable:", float_var)
print("String variable:", string_var)
print("Boolean variable:", boolean_var)

Integer variable: 10
Floating-point variable: 3.14
String variable: Hello, world!
Boolean variable: True

In [4]:
my_variable = 10
myVar = "Hello"
_my_var = True
var_123 = 3.14
var_with_underscore = "underscore"

# Print variables
print("my_variable:", my_variable)
print("myVar:", myVar)
print("_my_var:", _my_var)
print("var_123:", var_123)
print("var_with_underscore:", var_with_underscore)

my_variable: 10
myVar: Hello
_my_var: True
var_123: 3.14
var_with_underscore: underscore

In [5]:
### Single line, multiple variables with single values:
# Example 1
x, y, z = 10, 20, 30
print(x, y, z)
# Example 2
name, age, city = "John", 25, "New York"
print(name, age, city)

### Single line, single variable with multiple values:
# Example 1
numbers = 1, 2, 3, 4, 5
print(numbers)
# Example 2
coords = (0, 0), (1, 1), (2, 3)
print(coords)

10 20 30
John 25 New York
(1, 2, 3, 4, 5)
((0, 0), (1, 1), (2, 3))

In [6]:
# Arithmetic operations on integers
integer_var1 = 10
integer_var2 = 5
# Adding
addition_int = integer_var1 + integer_var2
# Subtracting
subtraction_int = integer_var1 - integer_var2
# Multiplication
multiplication_int = integer_var1 * integer_var2
# Dividing
division_int = integer_var1 / integer_var2

print("Integer arithmetic:")
print("Addition:", addition_int)
print("Subtraction:", subtraction_int)
print("Multiplication:", multiplication_int)
print("Division:", division_int)

Integer arithmetic:
Addition: 15
Subtraction: 5
Multiplication: 50
Division: 2.0

In [7]:
# Arithmetic operations on floating-point numbers
float_var1 = 3.14
float_var2 = 1.5
# Adding
addition_float = float_var1 + float_var2
# Subtracting
subtraction_float = float_var1 - float_var2
# Multiplication
multiplication_float = float_var1 * float_var2
# Dividing
division_float = float_var1 / float_var2

print("\nFloating-point arithmetic:")
print("Addition:", addition_float)
print("Subtraction:", subtraction_float)
print("Multiplication:", multiplication_float)
print("Division:", division_float)

Floating-point arithmetic:
Addition: 4.640000000000001
Subtraction: 1.6400000000000001
Multiplication: 4.71
Division: 2.0933333333333333

In [8]:
# Using single quotes
single_quotes_string = 'Hello, world!'
print(single_quotes_string)
# Using double quotes
double_quotes_string = "Hello, world!"
print(double_quotes_string)
# Using double quotes when the string contains a single quote
string_with_single_quote = "It's a beautiful day."
print(string_with_single_quote)
# Using single quotes when the string contains double quotes
string_with_double_quotes = 'He said, "Hello!"'
print(string_with_double_quotes)

Hello, world!
Hello, world!
It's a beautiful day.
He said, "Hello!"

In [13]:
# Example of using the print() function to output a variable
x = 10
print(x)
# Example of outputting multiple variables with print()
y = 20
print(x, y)
# Example of using f-strings to format output
name = "Alice"
age = 30
print(f"My name is {name} and I am {age} years old.")
# Example of using f-strings to manipulate variables in output
num1 = 5
num2 = 3
print(f"The sum of {num1} and {num2} is {num1 + num2}.")

10
10 20
My name is Alice and I am 30 years old.
The sum of 5 and 3 is 8.