<a href="https://colab.research.google.com/github/abdulmohiz001/Lab-01/blob/main/Abdul_Mohiz%20(Lab%2002%20-%2003).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Task 01:
1.	Print at least 5 types of data type

In [10]:
# 1. Print at least 5 types of data type
print("Data types:")
#Integars
a = 5
print(a)
print(type(a))

b = 10
print(b)
print(type(b))

c = 15
print(c)
print(type(c))

d = 20
print(d)
print(type(d))

e = 25
print(e)
print(type(e))

#Float
x = 1.0
print(x)
print(type(x))

y = 2.3
print(y)
print(type(y))

z = 3.65
print(z)
print(type(z))

p = 4.89
print(p)
print(type(p))

q = 9.02
print(q)
print(type(q))

#Complex Number
m = 2 + 3j
print(m)
print(type(m))

n = 1 + 5j
print(n)
print(type(n))

o = 5 + 7j
print(o)
print(type(o))

k = 9 + 3j
print(k)
print(type(k))

l = 7 + 2j
print(l)
print(type(l))

Data types:
5
<class 'int'>
10
<class 'int'>
15
<class 'int'>
20
<class 'int'>
25
<class 'int'>
1.0
<class 'float'>
2.3
<class 'float'>
3.65
<class 'float'>
4.89
<class 'float'>
9.02
<class 'float'>
(2+3j)
<class 'complex'>
(1+5j)
<class 'complex'>
(5+7j)
<class 'complex'>
(9+3j)
<class 'complex'>
(7+2j)
<class 'complex'>

Task 02:
2.	Write example of type conversion for each ( minimum 3)

In [11]:
#Example of type conversion for each
print("Type conversions:")

# Integer to float
int_to_float = float(5)
print(int_to_float)

# Float to integer
float_to_int = int(3.14)
print(float_to_int)

# Complex to integer
complex_to_integer = complex(5)
print(complex_to_integer)

Type conversions:
5.0
3
(5+0j)

Task 03:
3.	Assign multiple strings to single variable with your name , registration number, program , semester etc

In [12]:
# Assigning multiple strings to a single variable
personal_info = {
    "Name": "John Doe",
    "Registration_Number": "B21F0169AI016",
    "Program": "Artificial Intelligence",
    "Semester": "Fall 2021"
}

# Accessing individual pieces of information
print("Name:", personal_info["Name"])
print("Registration Number:", personal_info["Registration_Number"])
print("Program:", personal_info["Program"])
print("Semester:", personal_info["Semester"])

Name: John Doe
Registration Number: B21F0169AI016
Program: Artificial Intelligence
Semester: Fall 2021

Task 04:
4.	Write Your country name and access the last 3 characters

In [13]:
# Access the last 3 characters of country name
country = "Pakistan"
last_three_characters = country[-3:]
print("Last three characters of country name:", last_three_characters)

Last three characters of country name: tan

Task 05:
5.	Write code and observe using len() function it count space or not.

In [14]:
# Using len() function to count spaces
sentence = "Hello world"
print("Length of sentence including spaces:", len(sentence))
print("Length of sentence excluding spaces:", len(sentence.replace(" ", "")))

Length of sentence including spaces: 11
Length of sentence excluding spaces: 10

Task 06:
6.	Write code to access the 2nd and 3rd character of your name using negative indexes.

In [17]:
# 6. Access the 2nd and 3rd character of name using negative indexes
name = "Mohiz"
print("2nd and 3rd characters of name using negative indexes:", name[-4:-2])

2nd and 3rd characters of name using negative indexes: oh

Task 07:
7.	Write python code in which you pass index number to format() function and arguments must be 4 and same code without indexes.

In [18]:
# With indexes
line = "My name is {0} and I am {1} years old."
formatted_line = line.format("Abdul", 10)
print(formatted_line)

# Without indexes
line = "My name is {} and I am {} years old."
formatted_line = line.format("Mohiz", 20)
print(formatted_line)

My name is Abdul and I am 10 years old.
My name is Mohiz and I am 20 years old.

Task 08:
8.	Take input from user and  than display it like “John age is: age”

In [21]:
# Taking input from the user
name = input("Enter your name: ")

age = input("Enter your age: ")

print(f"{name} and my age is : {age}")

Enter your name: Abdul Mohiz
Enter your age: 20
Abdul Mohiz and my age is : 20