<a href="https://colab.research.google.com/github/abdulmohiz001/Programming-For-AI-Lab/blob/main/Abdul_Mohiz_(Lab_04_05).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.	Access List Items:  
•	Create a list of fruits.  
•	Print the first and last items of the list.

In [ ]:
fruits = ["Apple", "Banana", "Cherry", "Date"]
print("First item:", fruits[0])
print("Last item:", fruits[-1])

First item: Apple
Last item: Date

2.	Change List Items:  
•	Create a list of colors.  
•	Change the second item in the list to "blue".

In [ ]:
colors = ["Red", "Green", "Yellow", "Orange"]
colors[1] = "Blue"
print(colors)

['Red', 'Blue', 'Yellow', 'Orange']

3.	Add List Items:  
•	Create a list of numbers.  
•	Add the number 10 at the end of the list.

In [ ]:
numbers = [1, 2, 3, 4, 5]
numbers.append(10)
print(numbers)

[1, 2, 3, 4, 5, 10]

4.	Remove List Items:  
•	Create a list of animals.  
•	Remove the third item from the list.

In [ ]:
animals = ["Lion", "Tiger", "Elephant", "Giraffe"]
del animals[2]
print(animals)

['Lion', 'Tiger', 'Giraffe']

5.	Loop Lists:  
•	Create a list of cities.  
•	Loop through the list and print each city.

In [ ]:
cities = ["New York", "London", "Paris", "Tokyo"]
for city in cities:
    print(city)

New York
London
Paris
Tokyo

6.	List Comprehension:  
•	Create a list of numbers from 1 to 10.  
•	Use list comprehension to create a new list containing the square of each number.

In [ ]:
numbers = [i for i in range(1, 11)]
squared_numbers = [num**2 for num in numbers]
print(squared_numbers)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

7.	Sort Lists:  
•	Create a list of names.  
•	Sort the list alphabetically.

In [ ]:
names = ["Hassan", "Mohiz", "Ali", "Inam"]
names.sort()
print("Sorted Names",names)

Sorted Names ['Ali', 'Hassan', 'Inam', 'Mohiz']

8.	Copy Lists:  
•	Create a list of fruits.  
•	Copy the list into a new list.

In [ ]:
fruits = ["Apple", "Banana", "Orange", "Grape"]
copied_fruits = fruits.copy()
print(copied_fruits)

['Apple', 'Banana', 'Orange', 'Grape']

9.	Join Lists:  
•	Create two lists of numbers.  
•	Join the two lists into a single list.

In [ ]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]
joined_list = list1 + list2
print(joined_list)

[1, 2, 3, 4, 5, 6]

10.	List Methods:  
•	Create a list of fruits.  
•	Use the append() method to add a new fruit to the list.  
•	Use the pop() method to remove the last fruit from the list.

In [ ]:
fruits = ["Apple", "Banana", "Orange"]
fruits.append("Kiwi")
print(fruits)
fruits.pop()
print(fruits)

['Apple', 'Banana', 'Orange', 'Kiwi']
['Apple', 'Banana', 'Orange']

11.	Combining Lists and List Comprehension:  
•	Create two lists, one containing numbers from 1 to 5 and another containing numbers from 6 to 10.  
•	Use list comprehension to create a new list that contains the sum of corresponding elements from the two lists.

In [ ]:
list1 = [1, 2, 3, 4, 5]
list2 = [6, 7, 8, 9, 10]
combined_list = [x + y for x, y in zip(list1, list2)]
print(combined_list)

[7, 9, 11, 13, 15]

12.	Filtering and Sorting:  
Create a list of numbers.  
•	Use list comprehension to create a new list containing only the even numbers from the original list.  
•	Sort the new list in descending order.

In [ ]:
numbers = [2, 5, 8, 10, 3, 7, 9, 4, 6]
even_numbers = [num for num in numbers if num % 2 == 0]
even_numbers.sort(reverse=True)
print(even_numbers)

[10, 8, 6, 4, 2]

13.	List Slicing and Reversing:  
•	Create a list of numbers from 1 to 10.  
•	Use list slicing to create a new list containing only the even numbers from the original list, in reverse order.

In [ ]:
numbers = list(range(1, 11))
even_reverse = numbers[1:10:2][::-1]
print(even_reverse)

[10, 8, 6, 4, 2]

14.	Combining Lists and List Methods:  
•	Create two lists, one containing even numbers and another containing odd numbers.  
•	Use list methods to combine the two lists into a single list, alternating between even and odd numbers.

In [ ]:
even_numbers = [2, 4, 6, 8, 10]
odd_numbers = [1, 3, 5, 7, 9]
combined_list = []
for even, odd in zip(even_numbers, odd_numbers):
    combined_list.append(even)
    combined_list.append(odd)
print(combined_list)

[2, 1, 4, 3, 6, 5, 8, 7, 10, 9]